<nav class=" bg-black mb-8">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a routerLink="/products"
      class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="https://res.cloudinary.com/dbdoazcrx/image/upload/v1727046791/hardkoimgs/znow7083ltjd3trfznse.png" class="h-8" alt="HardKOLogo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">HardKO Store</span>
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border  rounded-lgbg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0  ">
        <li>
          <a routerLink="/products"
             routerLinkActive="!text-green-500"
             [routerLinkActiveOptions]="{exact: true}"
             class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-green-500"
             aria-current="page">Productos</a>
        </li>
        <li>
          <a routerLink="/cart"
             routerLinkActive="dark:text-green-500"
             class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            Carrito</a>
        </li>
      </ul>
    </div>

    <div>
      <button class="relative ">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
          <path d="M17 17h-11v-14h-2" />
          <path d="M6 5l14 1l-1 7h-13" />
        </svg>

        @if (cartState.count() > 0){
          <span class="absolute bg-green-600 size-5 rounded-full flex items-center justify-center -right-2">
            {{ cartState.count() }}
          </span>
        }


      </button>
    </div>

  </div>
</nav>

